# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
.venv/
venv/
ENV/
env/

# VS Code settings
.vscode/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Environment files
.env
.env.*

# Docker
*.log
docker-compose.override.yml

# MyPy
.mypy_cache/

# Pydantic models cache
__pydantic__/ 

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# pre-commit
.pre-commit-config.yaml~
